.App {
  height: 100vh;
  background: url(bois.jpg);
  display: grid;
  place-items: center;

}
.App_container{
 
  width: 800px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 223, 210);
  
}
.add{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(167, 157, 157);
  display: flex;
  height: 50px;
  width:500px;
  border-radius: 12px;
  justify-content:center;
  align-items: center;
 
}
.input_add{
  height: 30px;
  border:none;
  margin-left: 12px;
  flex: 1;
  border-radius: 12px;
}
.input_add:focus{
  outline: none;
}
.btn_add{
  border:none;
  background-color: blue;
  color: white;
  height: 30px; 
  width: 50px;
  border-radius: 9px;
  margin-right: 10px;
}
.task{
  display: flex;
  justify-content:space-between;
}
.todo__completed{
  text-decoration: line-through;
}
.btn_edit{
  margin-left: 50px;
  border:none;
  background-color:cornflowerblue;
  color: white;
  height: 20px; 
  width: 60px;
  border-radius: 9px;
  margin-right: 10px;
}
.btn_delete{
  margin-left: 5px;
  border:none;
  background-color:brown;
  color: white;
  height: 20px; 
  width: 50px;
  border-radius: 9px;
  margin-right: 10px;
}
.todo-item__text{
 font-style: italic;
 font-size:large;
 font-family: 'Times New Roman', Times, serif;
 
}
.todos_filter{
  margin-top: 30px;
  display: flex;
  justify-content:center;
  margin-right: 50px; 

}
